#main {
    background-color: #FFFFFF;
}

#header {
    padding: 96px 64px 48px;
    text-align: center;
}

#header h1 {
    color: #FFFFFF;
    font: 73.6667px "Source Sans Pro", sans-serif;
    margin-top: 0px;
    margin-bottom: 18.417px;
}

#header p {
color: #FFFFFFA6;
font: 28.3333px "Source Sans Pro", sans-serif;
margin-top: opx;
margin-bottom: 56.6667px;
}
.link{
color: #FFFFFFA6;
text-decoration: none;
border-bottom: 1px dotted;
}

#nav{
background-color: #F7F7F7;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border: 5px solid #F7F7F7;
color: #636363;    
font: 22.6667px "Source Sans Pro", sans-serif;
padding: 22.6667px;

}

#nav ul{
display: flex;    
margin: Opx;
padding: Opx;
justify-content: center;

}

nav a{
text-decoration: none;
font: 22.6667px "Source Sans Pro", sans-serif; 

}

